[submodule "glug_library/common_headers"]
	path = glug_library/common_headers
        url = https://github.com/libglug/common_headers.git
[submodule "test/CUnit"]
	path = test/CUnit
        url = https://github.com/libglug/cunit.git
