[submodule "glug_library/common_headers"]
	path = glug_library/common_headers
	url = git@github.com:libglug/common_headers.git
[submodule "test/CUnit"]
	path = test/CUnit
	url = git@github.com:libglug/cunit.git
